<div class="flex">
  <mat-form-field appearance="outline">
    <mat-label>שם הלוחם</mat-label>
    <input matInput [(ngModel)]="newName" name="newName" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addEmployee()">הוסף לוחם</button>
<!-- list of employees ??? -->
  <mat-form-field appearance="outline">
    <mat-label>הוסף רשימה</mat-label>
    <input matInput [(ngModel)]="newNamesList" name="newNamesList" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addEmployeesList()">הוסף רשימת לוחמים</button>
</div>

<!-- CSV list -->
 <div class="flex">
  <input type="file" accept=".csv" (change)="onCsv($event)" style="margin-inline-start:16px;">
  <button mat-stroked-button (click)="downloadCsvTemplate()">הורד תבנית CSV</button>
</div>

<div class="flex">
  <mat-form-field appearance="outline">
    <mat-label>כישור חדש</mat-label>
    <input matInput [(ngModel)]="newSkill" name="newSkill" (keyup.enter)="addSkill()" />
  </mat-form-field>
  <button mat-stroked-button (click)="addSkill()">הוסף כישור</button>
</div>

<!-- temporary skills - for the next employee to add -->
  <span class="card flex">

  כישורים של הלוחם הבא שתוסיף:
  @for (skill of tempSkills; track $index) {
    <span class="mono">
      {{skill}}
      @if ($index !== tempSkills.length-1) {
        <span>,</span>
      }
    </span>
  }
  @if (tempSkills.length === 0) {
    <span style="color: gray;">חפ״ש</span>
  }
</span>

<!-- employees  -->
@for (e of employees; track e.id) {
<div class="card">
  <div class="flex" style="align-items:center; justify-content:space-between">
    <div>
      <mat-slide-toggle [(ngModel)]="e.active" [ngModelOptions]="{standalone:true}" name="active_{{e.id}}" color="primary">לשבץ עכשיו</mat-slide-toggle>
      <strong>{{ e.name }}</strong>
      <!-- TODO - remove if no use at last with chips <div>כישורים: <span class="mono">{{ e.skills.join(', ') || '—' }}</span></div> -->
    </div>
    <!-- skills chips -->
    <div class="chips">
      <mat-chip-set>
        @for (skill of e.skills; track skill) {
          <mat-chip>{{skill}}</mat-chip>
        }
      </mat-chip-set>
    </div>
    <!-- operation on employee -->
    <div>
      <button mat-button style="color: blue" (click)="editAddSkill(e)">הוסף</button>
      <button mat-button style="color: purple" (click)="editremoveSkill(e)">הסר</button>
      <button mat-button color="warn" (click)="remove(e)">מחק</button>
    </div>
  </div>
</div>
}
